---
import Footer from "../../components/Footer.astro";
import Navigation from "../../components/Navigation.astro";
import Card from "../../components/Navigation.astro";
export async function getStaticPaths() {
  const url = "https://lytiiyuaxzhfwzaykkar.supabase.co/rest/v1/Program";

  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5dGlpeXVheHpoZnd6YXlra2FyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODY2MDgsImV4cCI6MTk5NDM2MjYwOH0.qA8kHlhJamX17bRpM-4rETSyqjgAIxwx_spo7qHeWuo",
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((program) => ({
    params: { slug: program.slug },
    props: { program },
  }));
}

const { program } = Astro.props;
---

<Navigation />
<main>
  <article class="grid">
    <img src={`/public/imgs/${program.single}`} class="singleView" alt="" />
    <div class="tekst">
      <h3>{program.navn}</h3>
      <h2>{program.description}</h2>
      <p>{program.text}</p>
    </div>
    <div class="Btn">
      <button>Learn more about the artist here</button>
    </div>
    <div class="imgSingle">
      <img src="../public/imgs/pic1.jpg" alt="" height="175" width="175" />
      <img src="../public/imgs/pic2.jpg" alt="" height="175" width="175" />
      <img src="../public/imgs/pic8.jpg" alt="" height="175" width="175" />
      <img src="../public/imgs/pic6.jpg" alt="" height="175" width="175" />
    </div>
  </article>
  <Footer />
</main>

<style>
  body {
    background-color: #f9eee8;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    gap: 10px;
  }

  .tekst p {
    line-height: 35px;
  }

  .tekst h3 {
    font-size: 30px;
  }
  .grid .singleView {
    width: 100%;
  }

  .grid .imgSingle {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .tekst {
    background-color: #710000;
    color: white;
    padding: 10%;
  }

  button {
    font-family: "cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    width: 500px;
    height: 50px;
    background-color: #f9eee8;
  }

  .Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4dfde;
  }

  @media (max-width: 700px) {
    .grid {
      grid-template-columns: 1fr;
    }

 .grid .imgSingle {
display: grid;
grid-template-columns: 1fr 1fr;
    }
    button {
      justify-self: center;
    }

img {
  width: 100%;
  order: 1;
}

.imgSingle {
  order: 1;
}

 .Btn {
  order: 1;
 }
  }
</style>
