.grid_2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

form {
    display: flex;
    flex-direction: column;
    font-family: "cardo", serif;
    font-weight: 400;
    font-style: normal;
}

.grid_2_1 form {
    background-color: #F4DFDE;
    padding: 20px;
}

.grid_2_1 label {
    font-size: larger;
    color: grey;
    padding: 5px;
}

.grid_2_1 input {
    height: 50px;
}

.about {
    text-align: right;
    font-size: 50px;
}