header {
  background-image: "../public/imgs/9a0d0283c43397c0477e97f6302ee528.jpg";
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "orpheuspro", serif;
  font-weight: 400;
  font-style: normal;
}

nav img {
  position: absolute;
}

nav li {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  background-color: #f9eee8;
  padding: 5px;
}

<<<<<<< HEAD
  p {
    font-family: "cardo", serif;
    font-weight: 400;
    font-style: normal;
  }

  h1, h2, h3 {
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
  }
  
=======
p {
  font-family: "cardo", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  background-color: #f9eee8;
}
>>>>>>> 733175bb4774489cc306363dba2e3dfb7191dde6
