---
import "../styles/main.css";
import Navigation from "../components/Navigation.astro";
import IndexCards from "../components/IndexCards.astro";
import Signup from "../components/Signup.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/aqy4phb.css" />

    <title>Astro</title>
  </head>
  <body>
    
   
    <Navigation />

    <main>
      <h1>SAKURA FESTIVAL 2023</h1>
      <p>The Copenhagen Sakura Festival is well known for featuring many Japanese cultural performances. Every year, you will experience both traditional and modern Japanese culture through the performances on stage, amidst the blossoming Sakura trees.</p>
      <IndexCards />
      <Signup />
      
    </main>

    <footer><Footer /></footer>
  </body>
</html>


<style>
  h1{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
  }
  p{
    max-width: 50%;
    margin: 0 auto;
    padding-bottom:  30px;
  }
  body {
    background-color: #F9EEE8;
  }
  
    
</style>
