---
import "../styles/main.css";
import Navigation from "../components/Navigation.astro";
import ContactCards from "../components/ContactCards.astro";
import Footer from "../components/Footer.astro";
import IndexCards from "../components/IndexCards.astro";

import ImgTextCard from "../components/ImgTextCard.astro";
import MoreBtn from "../components/MoreBtn.astro";
import ProgramCards from "../components/ProgramCards.astro";
import Signup from "../components/Signup.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="https://use.typekit.net/aqy4phb.css" />
    <link rel="stylesheet" href="https://use.typekit.net/aqy4phb.css" />
    <title>Astro</title>
  </head>
  <body>
    <Navigation/>
    <IndexCards/>
   
    <ImgTextCard/>
    <MoreBtn/>
    <ProgramCards/>
    <Signup/>
    <ContactCards/>
    <Footer/>
  </body>
</html>