---
---

<li>
  <article class="grid">
    <img src="/imgs/pic3.jpg" alt="" />
    <div class="tekst">
      <h3>KOTO & SHAKUHACHI</h3>
      <h3>青龍窯 椀形茶碗</h3>
      <p>
        Ayumi Shimonoto is a Yamada School koto and shamisen performer. She graduated from Tokyo University of Fine Arts and Music and performs in many different genres including traditional and modern. Kiku Day is a shakuhachi player from Denmark
        with Japanese roots, who is trained in classical shakuhachi solo music that used to be played by the begging monks. In this tour the two performers (at times supported by Sakura Yuka on koto) will play duets, solo pieces both traditional and
        contemporary music, and pieces composed by the performers in collaboration.
      </p>
    </div>
  </article>
  <img src="/imgs/pic1.jpg" alt="" height="200" width="200" />
  <img src="/imgs/pic1.jpg" alt="" height="200" width="200" />
  <img src="/imgs/pic1.jpg" alt="" height="200" width="200" />
</li>

<style>
  .grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
  }

  .tekst {
    background-color: #710000;
    color: white;
    padding: 10%;
    margin: 10%;
  }
</style>
