---
---

  <article class="grid">
    <img src="../public/imgs/pic7.jpg" alt="" />
    <div class="tekst">
      <h1>We’d love to hear from you!</h1>
      <label for="first-name">First Name</label>
      <input id="first-name" name="fname" type="text" />

      <label for="first-name">Last name</label>
      <input
        
        id="first-name"
        name="fname"
        type="text"
      />

      <label for="email">E-mail</label>
      <input
        
        id="email"
        name="email"
        type="email"
      />

      <label for="tekst">Write your message here</label>
      <textarea id="tekst"></textarea>
      <button type="submit"> Submit</button>
    </div>
  </article>

<section class="info">
  <div class="col">
    <img class="img" src="../public/nr.png" alt="nr" />
    <p>(+45) 3345 5121</p>
  </div>
  <div class="col">
    <img class="img" src="../public/mail.png" alt="" />
    <p>info.cph@ch.mofa.go.jp</p>
  </div>
  <div class="col">
    <img class="img" src="../public/placering.png" alt="" />
    <p>Langelinie Park Nordre Toldbod 1259 København K</p>
  </div>
</section>

<style>
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .col img {
    width: 25%;
  }

  .img {
    width: 50%;
    align-self: center;
  }

  h1 {
    background-color: #710000;
    color: rgb(255, 255, 255);
    padding: 2%;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid {
    padding: 2rem;
    /* background: #d3c8b6; */
    border-radius: 8px;
    background-color: #d3c1b643;
  }
  textarea {
    width: 65%;
    padding: 20px;
    margin-top: 10px;
  }

  label,
  input,
  button {
    display: block;
    margin-top: 15px;
    padding-top: 10px;
    font-family: "cardo", serif;
    font-weight: 400;
    font-style: normal;
  }

  input {
    width: 70%;
  }

  button {
    justify-self: center;
    margin-top: 20px;
    width: 70%;
  }

  @media (max-width: 700px) {
    .grid {
      grid-template-columns: 1fr;
    }

    .info {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
</style>
