---
---

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col" id="venstre">
        <p>SAKURA FESTIVAL</p>
        <p>info.cph@ch.mofa.go.jp</p>
      </div>
      <div class="footer-col" id="midt">
        <div class="some">
          <a href="https://www.facebook.com/copenhagensakurafestival"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/copenhagensakurafestival/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-col" id="hojre">
        <address>
          Langelinie Park<br />
          Nordre Toldbod<br />
          1259 København K
        </address>
      </div>
    </div>
  </div>
</footer>

<style>
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer {
    background-color: #8b8b71;
    padding: 70px 0;
    position: absolute;
    bottom: 0;
  }

  .footer-col {
    width: 100%;
    padding: 0 15px;
    text-decoration: none;
  }
</style>
