---
const {img, text} = Astro.props;
---

<section class="grid_1_2">
    <img src="/imgs/acc2117809309e95ccd7d5bd4f63b9cb.jpg" alt="">
    <p>{text}</p>
</section>


<style>
img {
    width: 100%;
}

.grid_1_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    }

.grid_1_2 p {
    background-color: #710000;
    color: white;
    padding: 25px;
    margin: 0;
    line-height: 40px;
    }

@media (max-width: 700px) {
.grid_1_2 {
    display: grid;
    grid-template-columns: 1fr;
}
    }

</style>