---

---

<article >
    
        <div class="card1">
            <img src="../public/imgs/pic3.jpg" alt="artists">
            <div class="card">
        <h2>Artists</h2>
        <p>青龍窯 椀形茶碗</p>
    </div>
        <button>Read more</button>
        
    </div>
    <div class="card2_3">
    <div class="card2">
        <img src="../public/imgs/pic10.jpg" alt="blomster">
        <div class="card">
        <h2>Program</h2>
        <p>青龍窯 椀形茶碗</p>
        </div>
        <button>Read more</button>
    
    </div>
    <div class="card3">
        <img src="../public/imgs/pic6.jpg" alt="skaal">
        <div class="card">
        <h2>Art</h2>
        <p>青龍窯 椀形茶碗</p>
     </div>
        <button>Read more</button>
   
    </div>
</div>
    <div class="card4">
        <img src="../public/imgs/pic7.jpg" alt="vifte">
        <div class="card">
        <h2>Booths</h2>
        <p>青龍窯 椀形茶碗</p>
    </div>
    
        <button>Read more</button> 
    </div>
    
</article>

<style>
article{
    display: flex;
    justify-content: space-between;
    padding: 30px;
 
}
.card1, .card4{
    width: 30%;
    
}
.card2_3{
    align-self: flex-start;
    width: 30%;
    
}
.card{
background-color: #F4DFDE;
padding: 5px;
border-radius: 5px;

}
img{
    width: 100%;
    border-radius: 5px;
  
}

p{
    color: #710000;
}
button{
    padding: 1rem;
    border-radius: 8px;
    background-color: #F9EEE8;
    margin-top: 10px;
    }
    button:hover{
        box-shadow: 0 0 2px 1px #710000;
    }
</style>