---

---

<article >
    
        <div class="card1">
        <img src="../public/imgs/89cc3186b310eeebe5bc917078676283.jpg" alt="billede af vifte">
        <h2>Booths</h2>
        <p>青龍窯 椀形茶碗</p>
        <button>Read more</button>
    </div>
    <div class="card2">
        <img src="../public/imgs/89cc3186b310eeebe5bc917078676283.jpg" alt="billede af vifte">
        <h2>Program</h2>
        <p>青龍窯 椀形茶碗</p>
        <button>Read more</button>
    </div>
    <div class="card3">
        <img src="../public/imgs/89cc3186b310eeebe5bc917078676283.jpg" alt="billede af vifte">
        <h2>Art</h2>
        <p>青龍窯 椀形茶碗</p>
        <button>Read more</button>
    </div>
</article>

<style>
article{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    
}
.card1 , .card2 , .card3{
    background-color: #F4DFDE;
    padding: 10px;
    margin: 20px;
}

img{
    width: 100%;
    height: auto;
}

button{
    padding: 1rem;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    background-color: #F9EEE8;
}
</style>