---
---

<article>
  <div class="card1">
    <img src="../public/imgs/pic3.jpg" alt="artists" width="400" height="490" />
    <div class="card">
      <div class="pink">
        <h2>Artists</h2>
        <p>青龍窯 椀形茶碗</p>
      </div>
      <button>Read more</button>
    </div>
    <div class="box">
      <h1>行</h1>
    </div>
  </div>

  <div class="card2_3">
    <div class="card2">
      <img
        src="../public/imgs/pic10.jpg"
        alt="blomster"
        width="300"
        height="295"
      />
      <div class="card">
        <div class="pink">
          <h2>Program</h2>
          <p>青龍窯 椀形茶碗</p>
        </div>
        <button>Read more</button>
      </div>
    </div>

    <div class="card3">
      <img src="../public/imgs/pic6.jpg" alt="skaal" width="300" height="295" />
      <div class="card">
        <div class="pink">
          <h2>Art</h2>
          <p>青龍窯 椀形茶碗</p>
        </div>
        <button>Read more</button>
      </div>
    </div>
  </div>

  <div class="card4">
    <img src="../public/imgs/pic7.jpg" alt="vifte" width="400" height="490" />
    <div class="card">
      <div class="pink">
        <h2>Booths</h2>
        <p>青龍窯 椀形茶碗</p>
      </div>
      <button>Read more</button>
    </div>
    <div class="box">
      <h1>苦</h1>
    </div>
  </div>
</article>

<style>


    @media (max-width: 600px){
        article{
            flex-direction: column;
            gap: 2em;
            align-items: center;
            
        }
        img{
            width: 100%;
            height: auto;
        }
    }
  
article{
    display: flex;
    place-content: center;
  
 
}
.box{

    width: 100%;
    height: 18%;
    background-color: #710000;
  }
  .box h1 {
    font-size: 100px;
    margin-left: 160px;
    color: #f9eee8;
  }

  .card2_3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pink {
    background-color: #f4dfde;
    padding: 5px;
    margin-right: 10px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
  }
  img {
    width: 100%;
    padding-top: 10px;
  }
p{
    color: #710000;
  }
  button{
  display: block;
    font-size: 20px;
    height: 40px;
    align-self: center;
    background-color: #f9eee8;
  }
  button:hover {
    box-shadow: 0 0 2px 1px #710000;
  }
</style>
