---
---

<div class="box-area">
  <img src="/logo.png" class="hideDesktop" />
  <header>
    <div class="wrapper">
      <nav>
        <a href="/index.html">HOME</a>
        <a href="/program">PROGRAM</a>
        <div class="logo hideMobil">
          <a href="/index.html">
            <img src="../public/logo.png" />
          </a>
        </div>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
      </nav>
    </div>
  </header>
  <div class="banner-area"></div>
</div>

<style>
  h1,
  h2,
  h3,
  h4 {
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }

  .hideDesktop {
    display: none;
  }

  button {
    font-family: "cardo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .wrapper {
    margin: 0 auto;
  }

  header {
    width: 100%;
    height: 100px;
    z-index: 100;
    background-color: #f9eee8;
  }

  .logo img {
    width: 50%;
    background-color: #f9eee8;
  }

  nav {
    display: flex;
    justify-content: center;
    line-height: 100px;
  }

  nav a {
    text-decoration: none;
    color: black;
    padding: 36px 30px;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
  }
  nav a:hover {
    color: #710000;
    padding: 36px 30px;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }
  .banner-area {
    background-image: url("../public/imgs/header_3.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 40vh;
  }

  p {
    font-family: "cardo", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
  @media (max-width: 600px) {
    .logo img {
      width: 100px;
    }

    .hideMobil {
      display: none;
    }

    .hideDesktop {
      display: block;
      margin: 0 auto;
      width: 25%;
      margin-top: 25px;
    }
  }
</style>
