---
---

<nav>
  <ul>
    <li><a href="#0">BOOTHS</a></li>
    <li><a href="#0">SPONSORS</a></li>
    <img src="../public/logo.svg" alt="" />
    <li><a href="#0">ABOUT</a></li>
    <li><a href="#0">CONTACT</a></li>
  </ul>
</nav>

<style></style>
