---
---

<nav>
  <ul>
    <li><a href="/listeview">BOOTHS</a></li>
    <li><a href="/sponsers">SPONSORS</a></li>
    <img src="../public/logo.svg" alt="" />
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/single">SINGLE</a></li>
  </ul>
</nav>

<style>
  nav {
    background-color: rgb(0, 0, 0);
  }
</style>
