---
---

		<div class="box-area">
			<header>
				<div class="wrapper">
					<nav>
						<a href="/index">HOME</a>
						<a href="/program">PROGRAM</a>
							<div class="logo">
						<a href="/index">
  						<img src="../public/logo.png">
						</a>
					</div>
						<a href="/about">ABOUT</a>
						<a href="/contact">CONTACT</a>
					</nav>
				</div>
			</header>
			<div class="banner-area">
			</div>
		</div>

<style></style>
