---
const { title } = Astro.props;
---

<section>
  <header>
    <h2>
      <a href="#0">{title}</a>
    </h2>
    <a href="#0">Show all</a>
  </header>
  <ul class="grid-container">
    <slot />
  </ul>
</section>

<style></style>
