---

---

<article>
   
    <div class="signup">
    <h2>Sign up for newsletter</h2>
    <p>Sign up to receive information about Sakura Festival and get all the latest updates about the program, booths, sponsors and other events. 
    </p>
    <button class="button">Sign up here!</button></div>

    <img class="img1" src="../public/imgs/pic5.jpg" alt="flower"width="200" height="300">
    
</article>


<style>
article{
   display: flex;
   justify-content: space-between;
   background-color: #D1DEE2;  
   padding: 10px;
   
   
}
.img1{
    width: 15%;
       
}
button{
    padding: 1rem;
    border-radius: 8px;
    background-color: #F9EEE8;
    
}


</style>