---
---

<article>
  <div class="signup">
    <label for="first-name">Full name</label>
    <input id="first-name" name="fname" type="text" />

    <label for="first-name">E-mail</label>
    <input type="email" id="email" name="email" />
    <button class="button">Sign up here!</button>
  </div>
</article>

<style>
  label {
    color: rgb(89, 15, 15);
    padding-bottom: 10px;
    padding-top: 20px;
  }
  article {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  input {
    width: 100%;
    height: 130%;
  }

  .signup {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: #f4dfde;
  }

  button {
    font-size: 30px;
    background: #f9eee8;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
  }
</style>
