---
---

<article>
  <div class="signup">
    <h2>Sign up for newsletter</h2>
    <p>
      Sign up to receive information about Sakura Festival and get all the
      latest updates about the program, booths, sponsors and other events.
    </p>
    <form action="mail">
        <p>E-mail</p>
    <input type="email" id="email" name="email"></form>
    <button class="button">Sign up here!</button>

    
    </div>
</article>

    <label for="first-name">Last name</label>
    <input placeholder="fx Nielsen" id="first-name" name="fname" type="text" />

    <label for="email">E-mail</label>
    <input
      placeholder="fx Kim1234@email.com"
      id="email"
      name="email"
      type="email"
    />
    <button class="button">Sign up here!</button>
  </div>

  <img
    class="img1"
    src="../public/imgs/pic5.jpg"
    alt="flower"
    width="200"
    height="300"
  />
</article>

<style>
  article {
    display: flex;
    justify-content: space-between;
    background-color: #d1dee2;
    padding: 10px;
  }
  .img1 {
    width: 15%;
  }
  button {
    padding: 1rem;
    margin: 10px;
    border-radius: 8px;
    background-color: #F9EEE8;
    
}
form{
    width: ;
    padding: 10px;
    margin: 6px;
    line-height: 30px;
}

</style>
