---

---

<article>
   
    <div class="signup">
    <h2>Sign up for newsletter</h2>
    <p>Sign up to receive information about Sakura Festival and get all the latest updates about the program, booths, sponsors and other events. 
    </p>
    <form action="mail">
        <p>E-mail</p>
    <input type="email" id="email" name="email"></form>
    <button class="button">Sign up here!</button>

    
    </div>
</article>


<style>


.signup{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    margin-top: 30px;
    background-color: #710000;
   
}
p, h2{
    color: white;
}

button{
    width: 30%;
    padding: 1rem;
    margin: 10px;
    border-radius: 8px;
    background-color: #F9EEE8;
    
}
form{
    width: ;
    padding: 10px;
    margin: 6px;
    line-height: 30px;
}

</style>